body {
  list-style: none;
  font-family: 'AkzidenzGrotesk', sans-serif;
}  

a {
  text-decoration: none;
  font-size: 18px;
  font-weight: 400;
}


li{
font-size: 18px;

}
.wrapper {
  max-width: 90vw;
  margin-left: 5%;
  margin-right: 5%;
  margin: 0 auto;
}

h1 {

  font-size: 75px;
  color: #0029FF;
  font-weight: 800;
  grid-column-start: 1; /* Inizia dalla prima colonna */
  grid-column-end: 7; /* Termina alla settima colonna */
}

.titolo_header
{
  margin-top: 160px;
}

hr {
  stroke-width: 1px;
stroke: rgba(148, 148, 148, 0.60);
}

h2 {
  font-size: 50px; 
  color: rgba(0, 0, 0, 0.3); 
  grid-column-start: 1; 
  grid-column-end: 7; 
}

h3{
font-size: 30px;

}

.testo01, .testo02, .testo_funzionamento_msm, .testo_limiti {
  line-height: 25px; /* 125% */
  font-size: 18px;
  font-weight: 300;
}



.container {
  background-color: var(--nav-color);
  font-size: 1.2rem;
  height: 80px;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80px;
  width: 100%;
  margin: auto;
  
}

.navbar ul {
  display: flex;
}

.container .navbar {
  justify-content: space-between;
}

.navbar ul li {
  list-style-type: none;
}

.container .navbar ul li {
  padding: 10px;
  margin: 0 10px;
}


.container-main, .container-main-ambiti {
  grid-template-columns: repeat(6, 1fr);
  column-gap: 60px;
  display: grid;
}

.container-main-ambiti{
  margin-top: -100px;
}
.h3 {
  font-weight: 600;
  font-size: 35px;
  grid-column: 1 / span 6;
}

.immagine01{
margin-top: 50px;
margin-bottom: 50px;

}

.testo01{
grid-column-start: 4; /* Inizia dalla prima colonna */
grid-column-end: 7; /* Termina alla terza colonna */

}
.titolo03_dimostrazione{
  grid-column-start: 1; 
  grid-column-end: 7; 
  margin-top: 100px; /* Riduci il margine superiore */
}


.titolo01{
  grid-column-start: 4; 
  grid-column-end: 7; 
  margin-top: 100px; /* Riduci il margine superiore */ 
}


 .titolo03,.titolo02,.titolo_ambiti, .titolo_limiti  {
  grid-column-start: 1; 
  grid-column-end: 7; 
  margin-top: 100px; /* Riduci il margine superiore */
}
.titolo02_ambiti{
  margin-top: -200px;
}
.titolo03_dimostrazione{
  margin-top: 150px;
  margin-bottom: 50px;
}

.titolo_limiti{
  margin-top: 0px;
}
.secondoparagrafo{
  margin-top: 100px;
}
.testo02{
  grid-column-start: 1;
  grid-column-end: 4; 

  }
  .titolo02, .titolo_ambiti{
    grid-column-start: 1; 
    grid-column-end: 7; 

  }
 

  .gruppo {
    grid-column-start: 1;
    grid-column-end: 3;
  }

  .gruppo2 {
    grid-column-start: 3;
    grid-column-end: 5;
  }
  .gruppo3 {
    grid-column-start: 5;
    grid-column-end: 7;
  }
  
.rettangolo, .rettangolo2, .rettangolo3 {
  margin-top: 50px;
    margin-bottom: 20px;
    height: 79px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
}
.rettangolo {
    grid-column-start: 1;
    grid-column-end: 3;
}
.rettangolo2 {
    grid-column-start: 3;
    grid-column-end: 5;
}
.rettangolo3 {
    grid-column-start: 5;
    grid-column-end: 7;
}
.rettangolo p, .rettangolo2 p, .rettangolo3, p { /* testo dentro  quadrato */
    color: rgb(0, 0, 0);
    font-weight: regular;
}

.didascalia span,
.didascalia2 span,
.didascalia3 span {
  color: rgb(0, 0, 0); 
  margin-top: 10px; 
  margin-bottom: 100px;
  font-size: 15px;
  line-height: 22px;
  font-weight: 300;
  font-style: italic;
}

.didascalia_dado_reale, .didascalia_dado_simulato{
  color: rgb(0, 0, 0); 
  margin-top: 10px; 
  font-size: 15px;
  line-height: 20px;
  font-weight: 300;
  font-style: italic;
}
.hr_filetto {
  border: none;
  border-top: 1px solid rgba(148, 148, 148, 0.60); /* linea filetto */
margin-top: 100px;
margin-bottom: 100px;

}

.hr_filetto_footer{
  margin-top: 100px;

}

.immagine_von {
  grid-column-start: 4;
  grid-column-end: 5;
  margin-top: 30px;
  margin-bottom: 100px;
}

.immagine_msm{
  grid-column-start: 4;
  grid-column-end: 7;

}

.testo_limiti{
  grid-column-start: 1;
  grid-column-end: 4;
}

.limiti_msm{
  margin-top: 100px;
}
.funzionamento_msm{
  margin-top: 0px;
}

.titolo_funzionamento_msm{
  grid-column-start: 1;
  grid-column-end: 4;
  margin-top: 200px;
}
.testo_funzionamento_msm{
  grid-column-start: 1;
  grid-column-end: 4; 
}


.formula_lcg {
  font-family: 'Times New Roman', Times, serif;
  grid-column-start: 1;
  grid-column-end: 4; 
  text-align: center;
  font-size: 18px; /* Dimensione del testo della formula */
}

.formula_lcg .subscript {
  font-size: 10px; /* dimensione testo subscriptin */
  vertical-align: sub; /* allinea il subscriptin  alla linea di base */
  font-weight: 400;
}

.immagine_lcg{
  grid-column-start: 1;
  grid-column-end: 7;
  margin-top: 100px; 
  margin-bottom: 200px;
}

.dimostrazione_1a{
  grid-column-start: 1;
  grid-column-end: 4;
  margin-top: -8px;
  margin-left: -8px;
 
}
.dimostrazione_1b{
  grid-column-start: 4;
  grid-column-end: 7;
  margin-top: -8px;
  margin-left: -8px;
}

.footer{
  font-family: 'AkzidenzGrotesk', sans-serif;
  font-size: 14px;
  line-height: 20px;
  font-weight: 300;
}
.fonti{
  font-family: 'AkzidenzGrotesk', sans-serif;
  font-size: 14px;
  font-weight: 300;
  text-decoration: none;
  grid-column-start: 1; 
  grid-column-end: 3; 
}

.autore{
grid-column: 4;
}

.corso{
  grid-column: 5;
  grid-row: 1;
}

.prof{
  grid-column: 6;
}


.sezioni_nav:hover {
  color: #0029FF;
  transition: color 0,1s ease-in-out, ease-in-out
}

.sezioni_nav:active {
  color:#001caa; /* clic */
  transition: color 3s ease-in-out, ease-in-out;
}

.sezioni_nav {
  color: rgb(0, 0, 0);
  font-size: 16px;
  font-weight: 300;
  transition: color 0.3s ease; /* Aggiungi una transizione di colore */

}

.index{
  color: rgb(0, 0, 0);
  font-size: 16px;
  font-weight: 300;
}

.index:hover{
  color: #0029FF;
  transition: color 0,1s ease-in-out, ease-in-out
}

hr{
  border: none;
  border-top: 1px solid rgba(148, 148, 148, 0.60); /* linea filetto */
}

.didascalia_dado_simulato{
  grid-column-start: 4;
  grid-column-end: 7;
  margin-top: -120px;
  grid-row: 3;
}

.didascalia_dado_reale{
  grid-column-start: 1;
  grid-column-end: 4;
  margin-top: -120px;
  grid-row: 3;
}

.hr_filetto_sopra_footer {
  border: none;
  border-top: 1px solid rgba(148, 148, 148, 0.60); /* linea filetto */
  margin-top: 50px;
  margin-bottom: 50px;

}
.hr_filetto_footer{ /* ultimo filetto */
  border: none;
  border-top: 1px solid rgba(148, 148, 148, 0.60); /* linea filetto */
  margin-top: 50px;
}


  .nome_generatore, .titolo_nome_generatore {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row: 1;
  margin: 0px;
  margin-top: 25px;
margin-bottom: 25px;
}

.anni_sviluppo, .titolo_anni_sviluppo {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row: 1;
  margin: 0px;
  margin-top: 25px;
margin-bottom: 25px;
}

.formula, .titolo_formula {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row: 1;
  margin: 0px;
  margin-top: 25px;
margin-bottom: 25px;
}
.descrizione, .titolo_descrizione {
  grid-column-start: 4; /* Inizia dalla quinta colonna */
  grid-column-end: 7; /* Termina alla settima colonna */
  grid-row: 1;
  margin: 0px;
  margin-top: 25px;
margin-bottom: 25px;
}

.titolo_nome_generatore, .titolo_anni_sviluppo, .titolo_formula, .titolo_descrizione {
font-weight: bold;
margin-top: 25px;
margin-bottom: 25px;

}

.descrizione, .formula, .anni_sviluppo, .nome_generatore{
  font-size: 15px;
  line-height: 19px;
  font-weight: 300;
}

.titolo_Altri_generatori{
  margin-bottom: 100px;
}



.titolo_nome_generatore, .titolo_anni_sviluppo, .titolo_formula, .titolo_descrizione {
  font-weight: 600;
  font-size: 25px;

}

.container-main-footer{
  margin-left: 100px;
  margin-right: 100px;
}




/* -- breakpoint: schermi piccoli, larghezza massima 500 pixel -- */

@media only screen and (max-width: 700px) {
	body {
		background-color: rgb(255, 182, 231);
	}
  .wrapper {
    max-width: 92vw;
    margin-left: 2%;
    margin-right: 5%;
    margin: 0 auto;
  }
  
  .container-main, .container-main-ambiti {
    grid-template-columns: repeat(1, 1fr); /* Imposta una singola colonna */
    column-gap: 0; /* Rimuovi lo spazio tra le colonne */
  }


p{
  grid-column-start: 1;
  grid-column-end: 1;
}

.dimostrazione_1a{
  grid-column-start: 1;
  margin-top: 20px;
  margin-left: -8px;
 
}
.dimostrazione_1b{
  grid-column-start: 1;
  margin-top: -8px;
  margin-left: -8px;
}

.immagine01, .immagine_msm, .immagine_von {
grid-template-columns: 1;
}

.wrapper {
  margin-left: 2%;
  margin-right: 2%;
  margin: 0 auto; /* Utilizza solo i margini per centrare il contenuto */
}

h1, h2, h3{
grid-column-start: 1;
}

.cenni_storici_msm{
  grid-template-columns: repeat(1, 1fr);
}


.didascalia_dado_simulato{
  
  grid-column-start: 1;
  grid-column-end: 1;

}

.didascalia_dado_reale{
  grid-column-start: 1;
  grid-column-end: 1;
  margin-top: -120px;
  font-weight: 300;
  font-style: italic;
}
.middle_square_method, .funzionamento_msm 
{
  grid-column-start: 1;
  grid-column-end: 1;

}
.immagine_lcg, .immagine_msm, .immagine_von{
  grid-column-start: 1;
  grid-column-end: 1;
}


.gruppo {
  grid-column-start: 1;
  grid-column-end: 1;
}

.gruppo2 {
  grid-column-start: 1;
  grid-column-end: 1;
}
.gruppo3 {
  grid-column-start: 1;
  grid-column-end: 1;
}
.dimostrazione_1a, .dimostrazione_1b{
  width: 400px;
  height: 400px;

}
.dimostrazione_1b{
  grid-row: 3;
}

.dimostrazione_1b{
  grid-row: 1;
}
.dimostrazione_1a{
  grid-row: 3;

}
.dimostrazione1{
  grid-column-start: 1;
  grid-column-end: 1;
}

h1, .titolo_header {
font-size: 50px;
}

h2{
  font-size: 35px;
  }
h3{
  font-size: 20px;
  }
p{
  font-size: 16px;
}

.testo01, .testo02, .testo03, .testo_funzionamento_msm, .testo_limiti, .formula_lcg{
  font-size: 16px;
}
.autore, .corso, .prof, .fonti{
  font-family: 'AkzidenzGrotesk', sans-serif;
  font-size: 14px;
  font-weight: 300;
}

.fonti{
  grid-column-start: 1; 
  grid-column-end: 1; 
}

.autore{
grid-column: 1;

}

.corso{
  grid-column: 1;
  grid-row: 1;
}

.prof{
  grid-column: 1;
}

}

